<h1> Contacts </h1>

<form method="POST" action="/contacts">
	<input type="text" name="contact[name]" placeholder="name" value=""> <br />
	<input type="email" name="contact[email]" placeholder="email" value=""> <br />
	<textarea name="contact[message]" placeholder="message" value=""></textarea> <br />
	<button type="submit" class="btn btn-primary">Send</button>
</form>